.navbar img {
  width: 200px;
}

.collapse p img {
  width: 30px;
}




.nav-link{
    color: #000;
}
.nav-link:hover{
    color: #000;
}


* {
  font-family: Helvetica;
  font-size: 17px;
}

.navsection {
  margin-top: 35px;
  display: flex;
}

.logo {
  float: left;
}

.logo img {
  width: 290px;
  margin-top: 6px;
  /* margin-left: 50px; */
}

.menu {
}
.menu ul {
}
.menu ul li {
  list-style: none;
}
.menu ul li a {
  text-decoration: none;
  font-size: 16px;
  padding-left: 25px;
  color: #08090a;
  top: 13px;
  position: relative;
}


.country{
  /* width: 20px; */
}

.country span, i{
  margin-left: 40px;
}

.cover-section {
  margin-top: 130px;
}

.cover-text h1 {
  font-size: 50px;
  font-weight: bold;
  color: #8cc5f9;
}

.cover-text p {
  margin-top: 10px;
  font-size: 22px;
}
.cover-text button {
  width: 250px;
  height: 60px;
  background: #8cc5f9;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  
  box-shadow: 1px 17px 38px -15px #888888;
}

.cover-img {
  display: flex;
}
.cover-img img {
  width: 433px;
}

.customer {
  height: 110px;
  background: #fff;
  display: flex;
  box-shadow: 1px 40px 52px -51px;
  border-radius: 23px;
  margin-top: 220px;
  justify-content: center;
}


.countries h1,
.countries p,
.total-customer h1,
.total-customer p,
.server h1,
.server p {
  margin-left: 100px;
  margin-right: 40px;
  font-size: 25px;
}

.countries h1,
.total-customer h1,
.server h1 {
  font-weight: bold;
}

.customer-icon img {
  float: left;
  width: 50px;
  margin-left: 30px;
}
.features {
  margin-top: 137px;
  justify-content: center;
}

.feature-img img {
  width: 355px;
}

.feature-text {
  /* margin-left: 150px; */
  margin-top: 135px;
}

.feature-text h1 {
  width: 450px;
  font-size: 35px;
  line-height: 50px;
  margin-left: 0;
  color: #8cc5f9;
}

.feature-text p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 25px;
  margin-left: 0;
}

.feature-text a {
  text-decoration: none;
  margin-left: 45px;
  color: #8cc5f9;
}
.products {
}
.card-body {
  /* width: 360px; */
  height: 355px;
  border-radius: 30px;
  padding: 30px;
  margin: 16px;
  /* margin-bottom: 50px; */
  box-shadow: -2px 0px 40px -17px #888888;
}

.card-content {
  margin: 10px;
}
.card-item {
  display: flex;
}
.card-body img {
  width: 35px;
  height: 39px;
}
.card-body h6 {
  font-weight: bold;
  margin-top: 25px;
  font-size: 18px;
}
.card-body p {
  font-size: 18px;
  margin-top: 20px;
}

.card-body button {
  margin-top: 20px;
  margin-left: 50px;
}

.odit-btn {
  border: 2px solid #8cc5f9;
  border-radius: 20px;
  padding: 10px 20px;
  background: #fff;
}

.product-text {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 90px;
}

.together-text {
  text-align: center;
  margin-top: 50px;
}

.together-map {
  margin-top: 50px;
}

.company-logo img {
  width: 190px;
  margin: 10px;
  margin-top: 120px;
}

.happy-customer {
  text-align: center;
  margin-top: 70px;
}

.customer-info {
  border: 1px solid #8cc5f9;
  border-radius: 5px;
  padding: 20px;
}

.customer-name img {
  float: left;
  width: 80px;
}

.customer-name h1 {
  font-size: 18px;
  font-weight: bold;
}

.customer-text {
  padding: 30px;
  margin: 0;
}

.contactus {
  background: #fff;
  width: 100%;
  /* padding: 40px; */
  margin-top: 90px;
  /* display: flex; */
  box-shadow: 0px 10px 27px -16px #888888;
}
.contact-img img {
  width: 186px;
  margin: 34px;
}
.contact-img img {
  /* width: 100px;
  float: left;
  margin-right: 30px;
  margin-top: 25px; */
}

.contact-text{
  /* margin-left: -270px;
    margin-right: -12px; */
}
.contact-text h1 {
  font-size: 35px;
}

.contact-text button {
    
  margin-left: -56px;
      margin-top: 48px;
  }

.contact-btn {
  margin-top: 56px;
    margin-left: -75px;
  width: 250px;
  height: 60px;
  background: #8cc5f9;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 1px 17px 38px -15px #888888;
}

.footer {
  margin-top: 100px;
}

.company h4 {
  text-align: left;
}

.company ul {
}
.product ul li,
.privacy ul li,
.company ul li {
  list-style: none;
}

.social-icon {
  /* display: flex; */
}

.social-icon p {
  margin: 10px;
  background: #fff;
}

.footer-info img {
  width: 232px;
}

.footer-info p {
  margin-top: 10px;
  color: #bdbdbd;
  font-size: 18px;
}
svg:not(:root).svg-inline--fa {
  /* overflow: visible; */
  width: 30px;
  height: 30px;
  color: #8cc5f9;
  border-radius: 20px;
  /* margin-left: -32px; */
  /* position: absolute; */
  padding: 5px;
  box-shadow: 0px 7px 22px -5px #888888;
}

.copyright p {
  margin-top: 15px;
  color: #bdbdbd;
  font-size: 16px;
}

.footer-text {
  display: flex;
}
.product h4 {
  /* margin-right: -270px; */
}


.product a {
  margin-left: -35px;
}

.company a {
  margin-left: -35px;
  width: 30px;
}


.privacy a {
  margin-left: -35px;
}

/* media queries  */

@media (max-width: 991px) {
}

@media (max-width: 768px) {
  .cover-text h1 {
    font-size: 29px;
    font-weight: bold;
    color: #8cc5f9;
    /* width: 205%; */
}
.cover-text p {
  margin-top: 10px;
  font-size: 17px;
}
.cover-img img {
  width: 365px;
  margin-left: 60px;
}
.feature-img img {
  width: 312px;
}
.card-body button {
margin-top: 0;
margin-left: 50px;
}
.product-text {
  width: 100%;
}
.product-card{
  width: 100%;
    /* margin-left: 53px; */
}
.together{
  width: 100%;
    margin-left: 25px;
}
.company-logo{
  width: 100%;
    margin-left: 50px;
}
.happy-customer {
  margin-left: 50px;
}
.happy-customer-card{
  width: 100%;
    margin-left: 25px;
}

.contactus {
  margin-left: 30px;
}

.contact-text h1 {
  font-size: 33px;
  margin-top: 40px;
}
.contact-text p {
  
}

.contact-btn{
  margin-left: 225px;
    margin-bottom: 50px;
}
.footer {
  width: 100%;
}
.company{
  margin: 0;

}
.product{
  margin: 0;
  width: 425px;
}




}

@media (max-width: 450px) {

  .total-customer {
    margin-right: -25px;
}
  
.card-body button {
  margin-top: 40px;
  margin-left: 85px;
}
  
  .countries {
    margin-right: -28px;
    margin-left: -20px;
  }
  
  .server{
    margin-right: -28px;
    margin-left: -20px;
  }
  .border {
    border-right: 2px solid #eee;
    height: 100px;
  }
  
  .countries h1, .total-customer h1, .server h1 {
    font-weight: bold;
    font-size: 21px;
  }

  .countries h1, .countries p, .total-customer h1, .total-customer p, .server h1, .server p {
    margin-left: 82px;
    margin-right: 29px;
    font-size: 17px;
}

.customer {
  
  margin-left: 82px;
}

.feature-text {
  margin-left: 35px;
}

.feature-text p {
  margin-left: 36px;
}


.products {
  margin-left: 28px;
  width: 121%;
}
.together {
  margin-left: 67px;
  width: 100%;
}

.company-logo{
  margin-left: 117px;
}
.happy-customer{
  margin-left: 65px;
    width: 100%;
}


.happy-customer-card {
  width: 100%;
  margin-left: 60px;
}

.contactus{
  margin-left: 65px;
}
.contact-btn{
  margin-left: 50px;
  margin-top: 14px;
}

.contact-text h1 {
  font-size: 30px;
}
.contact-text{
  margin: 25px;
}
.footer{
  margin-left: 66px;
  width: 100%;
}
.company {
  margin-left: -120px;
  width: 100px;
}
.product {
  margin-left: -38px;
  width: 240px;
}

.cover-text{
  width: 100%;
  margin-left: 48px;
}

.cover-text p {
  margin-top: 10px;
  font-size: 17px;
}

.cover-section {
  margin-top: 130px;
  width: 100%;
  text-align: center;
}
.cover-text h1 {
  font-size: 29px;
  font-weight: bold;
  color: #8cc5f9;
}
.cover-img img {
  width: 433px;
  margin-left: 27px;
  margin-top: 45px;
}

.navbar navbar-expand-lg navbar-light{
  width: 100%
}

.navbar-toggler{
  margin: 0;
    padding: 7px;
    left: 435px;
    position: absolute;
}
}
